* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  color: #fff;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}

li,
p {
  line-height: 1.5;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.text_center {
  text-align: center;
}
