.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;

  .information_text {
    margin-bottom: 3px;
    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .content_box {
    width: 100%;
    min-width: 350px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input {
      width: 300px;
      max-width: 395px;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #000;
      border-radius: 10px;

      &:disabled {
        background-color: #ccc;
      }
    }

    .input:disabled::placeholder {
      color: #000;
    }

    .button {
      margin: 0 auto;
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 1rem;
      background-color: #1d4ed8;
      font-weight: 700;

      &:hover {
        background-color: #3b82f6;
      }

      &:active {
        background-color: #1e3a8a;
      }
    }
  }
}
